.rodape{
    background-color: black;
    margin-top: 10px;
    color:rgb(150, 150, 150);
    font-size: .8em;
    padding: 80px;
    border-top: lightseagreen solid 2px;
}
.rodape-social{
    font-size: 2.5em;
}